
<div class="top-bar"><!-- Top Bar -->
    <div class="container">
        <ul>
        <% if user_signed_in? %>
        <li><a href="#"><strong><%= current_user.nickname %></strong> 님 환영합니다.</a></li>
        <li><a href="/users/sign_out" data-method="delete">로그아웃</a></li>
        <% else %>
        <li><a href="/users/sign_in">로그인</a></li>
        <li><a href="/users/sign_up">회원가입</a></li>
        </ul>
        <% end %>
        <div class="top-right">
            <ul>
                <li>
                    <span class="fa fa-phone-square"></span>
                            1 (800) 567 8765
                </li>
                <li>
                    <span class="fa fa-envelope"></span>
                    <a href="mailto:yourname@somemail.com">name@somemail.com</a>
                </li>
            </ul>        
        </div>
    </div>
</div>
<!-- End of Top Bar -->