
<div class="top-bar"><!-- Top Bar -->
    <div class="container">
        <ul>
        <!--TOPBAR 로그인 한 사용자만 나오게   -->
        <div class="top-right">
            <ul>
                <li>
                    <span class="fa fa-phone-square"></span>
                            1 (800) 567 8765
                </li>
                <li>
                    <span class="fa fa-envelope"></span>
                    <a href="mailto:yourname@somemail.com">name@somemail.com</a>
                </li>
            </ul>        
        </div>
    </div>
</div>
<!-- End of Top Bar -->