
<div class="wrapper"><!-- Wrapper -->
    <div class="inner-wrapper"><!-- Inner-Wrapper -->
    	
        <div id="main"><!-- Main -->
        	<div class="hr-invisible-small"></div>
        	<section class="fullwidth-background">
        		<div class="breadcrumb-wrapper">
                    <div class="container">
                        <h4> 작성하기 </h4>

                    </div>
                </div>                
            </section>
            <div class="hr-invisible-very-small"></div>
            <div class="clear"></div>
            <div class="container">
            	<section id="primary" class="content-full-width transparent-bg">
                	<article class="blog-post blog-single-entry ">	

                            <div id="respond">
                            	<h3 class="border-title"> 제목</span></h3>
                                <form method="post" action="php/send.php" name="enqform" id="comment-form" novalidate>
                                	<div class="animate" data-delay="100" data-animation="fadeIn">
                                        <div class="column dt-sc-one-third first">
                                            <p>
                                                <input type="text" name="txtname" title="Please enter your name" placeholder="Name" required>
                                            </p>
                                        </div>
                                        <br><br><Br><br>
                                    </div>
                                  
                                  
                                    <div class="clear"></div>
                                    <div class="animate" data-delay="700" data-animation="fadeIn">
                                                                    	<h3 class="border-title"> 내용</span></h3>

                                            <p>
                                                <textarea cols="5" rows="10" required name="txtmessage" class="message" placeholder="Your Message"></textarea>
                                            </p>

                                        </div>
                               
                                </form>
                                <form method="get" action"/musle_daily#upload"  enctype="multipart">
                                </form>
                            </div>
                                                        <div id="respond">
                            	<h3 class="border-title"> 오늘 운동 내용</span></h3>
                                <form method="post" action="php/send.php" name="enqform" id="comment-form" novalidate>
                                	<div class="animate" data-delay="100" data-animation="fadeIn">
                                        <div class="column dt-sc-one-third first">
                                            <p>
                                                <input type="text" name="txtname" title="Please enter your name" placeholder="Name" required>
                                            </p>
                                        </div>
                                        <br><br><Br><br>
                                    </div>
                                                              <div id="respond">
                            	<h3 class="border-title"> 오늘 먹은 내용</span></h3>
                                <form method="post" action="php/send.php" name="enqform" id="comment-form" novalidate>
                                	<div class="animate" data-delay="100" data-animation="fadeIn">
                                        <div class="column dt-sc-one-third first">
                                            <p>
                                                <input type="text" name="txtname" title="Please enter your name" placeholder="Name" required>
                                            </p>
                                        </div>
                                                             <input class="dt-sc-button small" type="submit" value="저장하기" name="submit">
                                        <br><br><Br><br>
                                    </div>
                                  
                            
                            <div class="clear"></div>
                            <div class="hr-invisible-medium"></div>
                       
                        </div>
                        <div class="clear"></div>
                    </article>
                </section>
                <div class="clear"></div>
                <div class="hr-invisible"></div>
          	</div>      
        </div><!-- End of Main --> 
        
	</div><!-- End of Inner-Wrapper -->
</div><!-- End of Wrapper -->

</body>
</html>