<header id="header" class="dt-sticky-menu type2"><!-- Header -->
        	<div id="logo"><!-- Logo -->
                <a title="TrendSalon" href="/">
                  <%=image_tag("logo.png") %>
            </div><!-- End of Logo -->
            <div id="menu-container">
            	<div class="container">
                    <nav id="main-menu"><!-- Nav - Starts -->
                        <div id="dt-menu-toggle" class="dt-menu-toggle">
                            Menu
                            <span class="dt-menu-toggle-icon"></span>
                        </div>
                        
                        <a title="TrendSalon" href="/" class="sticky-logo"><%=image_tag("logo.png") %>
                        </a>
                        
                        <ul class="menu">
                            <li class="current_page_item menu-item-simple-parent"><a href="/">Home</a>
                            	
                                <a class="dt-menu-expand">+</a>
                            </li>
                             <li class="menu-item-simple-parent"><a href="musle_daily/daily_main"> Daily </a>
                            	<ul class="sub-menu">
                                    <li><a href="/musle_daily/daily_main">Daily Main</a></li>
                                    <li><a href="/musle_daily/daily_write">Daily Write</a></li>
                                </ul>
                                <a class="dt-menu-expand">+</a>
                            </li>
                            <li class="menu-item-simple-parent"><a href="/musle_video/all">Video</a>
                                <ul class="sub-menu">
                                    <li><a href="/musle_video/musle">체형별</a></li>
                                    <li><a href="/musle_video/body">근육별</a></li>
                                    <li><a href="/musle_video/wannabe">Wannbe</a><li>
                                </ul>
                            </li>
                            <li class="menu-item-simple-parent"><a href="musle_food/shop">Food</a>
                                <ul class="sub-menu">
                                    <li><a href="/musle_food/food_inf">음식</a>
                                    
                                        <ul class="sub-menu">
                                            <li><a href="/musle_food/food_inf.html">육류</a></li>
                                            <li><a href="/musle_food/vegetable.html">채소류</a></li>
                                            <li><a href="/musle_food/fruit.html">과일류</a></li>
                                            
                                            
                                        </ul>
                                    </li>
                                    
                                    <li><a href="/musle_food/supplement.html">보충제</a>
                                    
                                        <ul class="sub-menu">
                                            <li><a href="/musle_food/way.html">웨이</a></li>
                                            <li><a href="/musle_food/supplement.html">게이너</a></li>
                                            <li><a href="/musle_food/max.html">매스</a></li>
                                            
                                            
                                        </ul>
                                    </li>
                                    
                                </ul>
                                <a class="dt-menu-expand">+</a>
                            </li>
                            
                            <% if user_signed_in? %>
                            <li class="menu-item-simple-parent"><a href="#"><%= current_user.nickname %></a>
                            	<ul class="sub-menu">
                                    <li><a href="/user_page">프로필</a></li>
                                    <li><%= link_to "등급 : " + user_roles(current_user), '#' %></li>
                                    <li><a href="/users/sign_out">로그아웃</a></li>
                                </ul>
                                <a class="dt-menu-expand">+</a>
                            </li>
                            <% else %>
                            <li class="menu-item-simple-parent"><a href="/users/sign_in">로그인</a>
                            	<ul class="sub-menu">
                                    <li><a href="/users/sign_up">회원가입</a></li>
                                </ul>
                                <a class="dt-menu-expand">+</a>
                            </li>
                            <% end %>
                        </ul>
                    </nav><!-- End of Nav -->
                </div>
            </div>
        </header>