<section class="fullwidth-background">
    <div class="breadcrumb-wrapper">
        <div class="container">
          <% 3.times{ %>
            <div class="column dt-sc-one-third">
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4">
                      <div class="entry-thumb">
                        <a href="#">
                            <%= image_tag("blog-img1.jpg") %>
                        </a>
                    </div>
                    <div class="entry-details">
                        <div class="hr-invisible-very-small"></div>
                        <div class="entry-title">
                            <h3>Lorem ipsum dolor sit amet consectetur adipiscing</h3>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <% } %>
        
        </div>
    </div>                
</section>
  
        

<a href="/musle_video/detail">상세보기</a>

    