<section class="fullwidth-background">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <article class="blog-entry col-offset-md-1">          
                <% @post.each do |p| %>
                <a href="/musle_video/detail/<%=p.id%>">
                    <div class="vd_margin column col-md-3 ">
                        <div class="entry-thumb">
                            <%= image_tag("#{p.image_url}") %>
                        </div>
                        <div class="entry-details">
                            <div class="hr-invisible-very-small"></div>
                              <div class="entry-title">
                                <h3><%=p.title.to_s[0,10]%></h3>
                            </div>
                            <div class="entry-meta">
                                <h6><%=p.created_at.to_s[0,11]%></h6>
                            </div>
                        </div>
                    </div>
                </a>
                <% end %>
            </article>
        </div>
    </div><!--wrapper div -->                
</section>
  
        

<a href="/musle_video/detail">상세보기</a>

    